<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png"  width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS.

    Here you should place the cursor at Date field and manually type as DD-MM-YYYY.

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     |████████████████████████████████| 6.0 MB 17.2 MB/s eta 0:00:01
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp38-cp38-linux_x86_64.whl size=1209504 sha256=6f4f822530d8c3bee690d711742e3978f147e00d5eb1d9bbc5490f7f20976474
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/cb/43/46/fa638f2422554332b7865d600275b24568bf60e76104a94bb4
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.22
    Uninstalling SQLAlchemy-1.4.22:
      Successfully uninstalled SQLAlchemy-1.4.22
Successfully installed sqlalchemy-1.3.9
Requirement already satisfied: ibm_db_sa in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (0.3.7)
Requirement already satisfied: ibm-db>=2.0.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ibm_db_sa) (3.0.4)
Requirement already satisfied: sqlalchemy>=0.7.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ibm_db_sa) (1.3.9)
Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: six in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (1.3.9)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 3.0 MB/s  eta 0:00:01
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: ipython>=1.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (7.27.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: pygments in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (2.9.0)
Requirement already satisfied: pickleshare in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.0.9)
Requirement already satisfied: pexpect>4.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: jedi>=0.16 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: backcall in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20211006)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13700 sha256=5a0167b026f593cf66e1a0cebcbb072426bd95419e62a41df374b6f919f46d7f
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/48/6d/77/9517cb933af254f51a446f1a5ec9c2be3e45f17384940bce68
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.2

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [3]:
import sqlite3

conn = sqlite3.connect("aquarium.db")

In [5]:
print(conn.total_changes)

0

In [6]:
!wget "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" -O spacex.csv

--2022-01-17 04:53:46--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11860 (12K) [text/csv]
Saving to: ‘spacex.csv’

spacex.csv          100%[===================>]  11.58K  --.-KB/s    in 0s

2022-01-17 04:53:47 (151 MB/s) - ‘spacex.csv’ saved [11860/11860]

In [ ]:
#import requests
#resp = requests.get("")
#data = resp.text

In [7]:
con.execute("drop table Spacex")

NameError: name 'con' is not defined

In [8]:
conn.execute("CREATE TABLE if not exists spacex ('Date','Time','BoosterVersion','LaunchSite','Payload','PyloadMassKg', 'Orbit','Customer','MissionOutcome','LandingOutcome')") # use your column names here
conn.commit()

In [9]:
import csv

lst = []
with open("spacex.csv", "r") as fin:
    dr = csv.DictReader(fin)
    for row in dr:
        lst.append([row['Date'], row['Time (UTC)'], row['Booster_Version'], row['Launch_Site'], row['Payload'], row['PAYLOAD_MASS__KG_'], row['Orbit'], row['Customer'], row['Mission_Outcome'], row['Landing _Outcome']])

In [10]:
cur = conn.executemany("INSERT INTO spacex ('Date','Time','BoosterVersion','LaunchSite','Payload','PyloadMassKg','Orbit','Customer','MissionOutcome','LandingOutcome') VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", lst)
conn.commit()

In [21]:
cur = conn.execute("select * from spacex")
cur.fetchall()

[('04-06-2010',
  '18:45:00',
  'F9 v1.0  B0003',
  'CCAFS LC-40',
  'Dragon Spacecraft Qualification Unit',
  '0',
  'LEO',
  'SpaceX',
  'Success',
  'Failure (parachute)'),
 ('08-12-2010',
  '15:43:00',
  'F9 v1.0  B0004',
  'CCAFS LC-40',
  'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese',
  '0',
  'LEO (ISS)',
  'NASA (COTS) NRO',
  'Success',
  'Failure (parachute)'),
 ('22-05-2012',
  '07:44:00',
  'F9 v1.0  B0005',
  'CCAFS LC-40',
  'Dragon demo flight C2',
  '525',
  'LEO (ISS)',
  'NASA (COTS)',
  'Success',
  'No attempt'),
 ('08-10-2012',
  '00:35:00',
  'F9 v1.0  B0006',
  'CCAFS LC-40',
  'SpaceX CRS-1',
  '500',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'No attempt'),
 ('01-03-2013',
  '15:10:00',
  'F9 v1.0  B0007',
  'CCAFS LC-40',
  'SpaceX CRS-2',
  '677',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'No attempt'),
 ('29-09-2013',
  '16:00:00',
  'F9 v1.1  B1003',
  'VAFB SLC-4E',
  'CASSIOPE',
  '500',
  'Polar LEO',
  'MDA',
  'Success',
  'Uncontrolled (ocean)'),
 ('03-12-2013',
  '22:41:00',
  'F9 v1.1',
  'CCAFS LC-40',
  'SES-8',
  '3170',
  'GTO',
  'SES',
  'Success',
  'No attempt'),
 ('06-01-2014',
  '22:06:00',
  'F9 v1.1',
  'CCAFS LC-40',
  'Thaicom 6',
  '3325',
  'GTO',
  'Thaicom',
  'Success',
  'No attempt'),
 ('18-04-2014',
  '19:25:00',
  'F9 v1.1',
  'CCAFS LC-40',
  'SpaceX CRS-3',
  '2296',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Controlled (ocean)'),
 ('14-07-2014',
  '15:15:00',
  'F9 v1.1',
  'CCAFS LC-40',
  'OG2 Mission 1  6 Orbcomm-OG2 satellites',
  '1316',
  'LEO',
  'Orbcomm',
  'Success',
  'Controlled (ocean)'),
 ('05-08-2014',
  '08:00:00',
  'F9 v1.1',
  'CCAFS LC-40',
  'AsiaSat 8',
  '4535',
  'GTO',
  'AsiaSat',
  'Success',
  'No attempt'),
 ('07-09-2014',
  '05:00:00',
  'F9 v1.1 B1011',
  'CCAFS LC-40',
  'AsiaSat 6',
  '4428',
  'GTO',
  'AsiaSat',
  'Success',
  'No attempt'),
 ('21-09-2014',
  '05:52:00',
  'F9 v1.1 B1010',
  'CCAFS LC-40',
  'SpaceX CRS-4',
  '2216',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Uncontrolled (ocean)'),
 ('10-01-2015',
  '09:47:00',
  'F9 v1.1 B1012',
  'CCAFS LC-40',
  'SpaceX CRS-5',
  '2395',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Failure (drone ship)'),
 ('11-02-2015',
  '23:03:00',
  'F9 v1.1 B1013',
  'CCAFS LC-40',
  'DSCOVR',
  '570',
  'HEO',
  'U.S. Air Force NASA NOAA',
  'Success',
  'Controlled (ocean)'),
 ('02-03-2015',
  '03:50:00',
  'F9 v1.1 B1014',
  'CCAFS LC-40',
  'ABS-3A Eutelsat 115 West B',
  '4159',
  'GTO',
  'ABS Eutelsat',
  'Success',
  'No attempt'),
 ('14-04-2015',
  '20:10:00',
  'F9 v1.1 B1015',
  'CCAFS LC-40',
  'SpaceX CRS-6',
  '1898',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Failure (drone ship)'),
 ('27-04-2015',
  '23:03:00',
  'F9 v1.1 B1016',
  'CCAFS LC-40',
  'Turkmen 52 / MonacoSAT',
  '4707',
  'GTO',
  'Turkmenistan National Space Agency',
  'Success',
  'No attempt'),
 ('28-06-2015',
  '14:21:00',
  'F9 v1.1 B1018',
  'CCAFS LC-40',
  'SpaceX CRS-7',
  '1952',
  'LEO (ISS)',
  'NASA (CRS)',
  'Failure (in flight)',
  'Precluded (drone ship)'),
 ('22-12-2015',
  '01:29:00',
  'F9 FT B1019',
  'CCAFS LC-40',
  'OG2 Mission 2  11 Orbcomm-OG2 satellites',
  '2034',
  'LEO',
  'Orbcomm',
  'Success',
  'Success (ground pad)'),
 ('17-01-2016',
  '18:42:00',
  'F9 v1.1 B1017',
  'VAFB SLC-4E',
  'Jason-3',
  '553',
  'LEO',
  'NASA (LSP) NOAA CNES',
  'Success',
  'Failure (drone ship)'),
 ('04-03-2016',
  '23:35:00',
  'F9 FT B1020',
  'CCAFS LC-40',
  'SES-9',
  '5271',
  'GTO',
  'SES',
  'Success',
  'Failure (drone ship)'),
 ('08-04-2016',
  '20:43:00',
  'F9 FT B1021.1',
  'CCAFS LC-40',
  'SpaceX CRS-8',
  '3136',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success (drone ship)'),
 ('06-05-2016',
  '05:21:00',
  'F9 FT B1022',
  'CCAFS LC-40',
  'JCSAT-14',
  '4696',
  'GTO',
  'SKY Perfect JSAT Group',
  'Success',
  'Success (drone ship)'),
 ('27-05-2016',
  '21:39:00',
  'F9 FT B1023.1',
  'CCAFS LC-40',
  'Thaicom 8',
  '3100',
  'GTO',
  'Thaicom',
  'Success',
  'Success (drone ship)'),
 ('15-06-2016',
  '14:29:00',
  'F9 FT B1024',
  'CCAFS LC-40',
  'ABS-2A Eutelsat 117 West B',
  '3600',
  'GTO',
  'ABS Eutelsat',
  'Success',
  'Failure (drone ship)'),
 ('18-07-2016',
  '04:45:00',
  'F9 FT B1025.1',
  'CCAFS LC-40',
  'SpaceX CRS-9',
  '2257',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success (ground pad)'),
 ('14-08-2016',
  '05:26:00',
  'F9 FT B1026',
  'CCAFS LC-40',
  'JCSAT-16',
  '4600',
  'GTO',
  'SKY Perfect JSAT Group',
  'Success',
  'Success (drone ship)'),
 ('14-01-2017',
  '17:54:00',
  'F9 FT B1029.1',
  'VAFB SLC-4E',
  'Iridium NEXT 1',
  '9600',
  'Polar LEO',
  'Iridium Communications',
  'Success',
  'Success (drone ship)'),
 ('19-02-2017',
  '14:39:00',
  'F9 FT B1031.1',
  'KSC LC-39A',
  'SpaceX CRS-10',
  '2490',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success (ground pad)'),
 ('16-03-2017',
  '06:00:00',
  'F9 FT B1030',
  'KSC LC-39A',
  'EchoStar 23',
  '5600',
  'GTO',
  'EchoStar',
  'Success',
  'No attempt'),
 ('30-03-2017',
  '22:27:00',
  'F9 FT  B1021.2',
  'KSC LC-39A',
  'SES-10',
  '5300',
  'GTO',
  'SES',
  'Success',
  'Success (drone ship)'),
 ('01-05-2017',
  '11:15:00',
  'F9 FT B1032.1',
  'KSC LC-39A',
  'NROL-76',
  '5300',
  'LEO',
  'NRO',
  'Success',
  'Success (ground pad)'),
 ('15-05-2017',
  '23:21:00',
  'F9 FT B1034',
  'KSC LC-39A',
  'Inmarsat-5 F4',
  '6070',
  'GTO',
  'Inmarsat',
  'Success',
  'No attempt'),
 ('03-06-2017',
  '21:07:00',
  'F9 FT B1035.1',
  'KSC LC-39A',
  'SpaceX CRS-11',
  '2708',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success (ground pad)'),
 ('23-06-2017',
  '19:10:00',
  'F9 FT  B1029.2',
  'KSC LC-39A',
  'BulgariaSat-1',
  '3669',
  'GTO',
  'Bulsatcom',
  'Success',
  'Success (drone ship)'),
 ('25-06-2017',
  '20:25:00',
  'F9 FT B1036.1',
  'VAFB SLC-4E',
  'Iridium NEXT 2',
  '9600',
  'LEO',
  'Iridium Communications',
  'Success',
  'Success (drone ship)'),
 ('05-07-2017',
  '23:38:00',
  'F9 FT B1037',
  'KSC LC-39A',
  'Intelsat 35e',
  '6761',
  'GTO',
  'Intelsat',
  'Success',
  'No attempt'),
 ('14-08-2017',
  '16:31:00',
  'F9 B4 B1039.1',
  'KSC LC-39A',
  'SpaceX CRS-12',
  '3310',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success (ground pad)'),
 ('24-08-2017',
  '18:51:00',
  'F9 FT B1038.1',
  'VAFB SLC-4E',
  'Formosat-5',
  '475',
  'SSO',
  'NSPO',
  'Success',
  'Success (drone ship)'),
 ('07-09-2017',
  '14:00:00',
  'F9 B4 B1040.1',
  'KSC LC-39A',
  'Boeing X-37B OTV-5',
  '4990',
  'LEO',
  'U.S. Air Force',
  'Success',
  'Success (ground pad)'),
 ('09-10-2017',
  '12:37:00',
  'F9 B4 B1041.1',
  'VAFB SLC-4E',
  'Iridium NEXT 3',
  '9600',
  'Polar LEO',
  'Iridium Communications',
  'Success',
  'Success (drone ship)'),
 ('11-10-2017',
  '22:53:00',
  'F9 FT  B1031.2',
  'KSC LC-39A',
  'SES-11 / EchoStar 105',
  '5200',
  'GTO',
  'SES EchoStar',
  'Success',
  'Success (drone ship)'),
 ('30-10-2017',
  '19:34:00',
  'F9 B4 B1042.1',
  'KSC LC-39A',
  'Koreasat 5A',
  '3500',
  'GTO',
  'KT Corporation',
  'Success',
  'Success (drone ship)'),
 ('15-12-2017',
  '15:36:00',
  'F9 FT  B1035.2',
  'CCAFS SLC-40',
  'SpaceX CRS-13',
  '2205',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success (ground pad)'),
 ('23-12-2017',
  '01:27:00',
  'F9 FT  B1036.2',
  'VAFB SLC-4E',
  'Iridium NEXT 4',
  '9600',
  'Polar LEO',
  'Iridium Communications',
  'Success',
  'Controlled (ocean)'),
 ('08-01-2018',
  '01:00:00',
  'F9 B4 B1043.1',
  'CCAFS SLC-40',
  'Zuma',
  '5000',
  'LEO',
  'Northrop Grumman',
  'Success (payload status unclear)',
  'Success (ground pad)'),
 ('31-01-2018',
  '21:25:00',
  'F9 FT  B1032.2',
  'CCAFS SLC-40',
  'GovSat-1 / SES-16',
  '4230',
  'GTO',
  'SES',
  'Success',
  'Controlled (ocean)'),
 ('22-02-2018',
  '14:17:00',
  'F9 FT  B1038.2',
  'VAFB SLC-4E',
  'Paz  Tintin A & B',
  '2150',
  'SSO',
  'Hisdesat exactEarth SpaceX',
  'Success',
  'No attempt'),
 ('06-03-2018',
  '05:33:00',
  'F9 B4 B1044',
  'CCAFS SLC-40',
  'Hispasat 30W-6  PODSat',
  '6092',
  'GTO',
  'Hispasat  NovaWurks',
  'Success',
  'No attempt'),
 ('30-03-2018',
  '14:14:00',
  'F9 B4  B1041.2',
  'VAFB SLC-4E',
  'Iridium NEXT 5',
  '9600',
  'Polar LEO',
  'Iridium Communications',
  'Success',
  'No attempt'),
 ('02-04-2018',
  '20:30:00',
  'F9 B4  B1039.2',
  'CCAFS SLC-40',
  'SpaceX CRS-14',
  '2647',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'No attempt'),
 ('18-04-2018',
  '22:51:00',
  'F9 B4 B1045.1',
  'CCAFS SLC-40',
  'Transiting Exoplanet Survey Satellite (TESS)',
  '362',
  'HEO',
  'NASA (LSP)',
  'Success',
  'Success (drone ship)'),
 ('11-05-2018',
  '20:14:00',
  'F9 B5  B1046.1',
  'KSC LC-39A',
  'Bangabandhu-1',
  '3600',
  'GTO',
  'Thales-Alenia/BTRC',
  'Success',
  'Success (drone ship)'),
 ('22-05-2018',
  '19:47:58',
  'F9 B4  B1043.2',
  'VAFB SLC-4E',
  'Iridium NEXT 6   GRACE-FO 1, 2',
  '6460',
  'Polar LEO',
  'Iridium Communications GFZ ‚ NASA',
  'Success',
  'No attempt'),
 ('04-06-2018',
  '04:45:00',
  'F9 B4  B1040.2',
  'CCAFS SLC-40',
  'SES-12',
  '5384',
  'GTO',
  'SES',
  'Success',
  'No attempt'),
 ('29-06-2018',
  '09:42:00',
  'F9 B4 B1045.2',
  'CCAFS SLC-40',
  'SpaceX CRS-15',
  '2697',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'No attempt'),
 ('22-07-2018',
  '05:50:00',
  'F9 B5B1047.1',
  'CCAFS SLC-40',
  'Telstar 19V',
  '7075',
  'GTO',
  'Telesat',
  'Success',
  'Success'),
 ('25-07-2018',
  '11:39:00',
  'F9 B5B1048.1',
  'VAFB SLC-4E',
  'Iridium NEXT-7',
  '9600',
  'Polar LEO',
  'Iridium Communications',
  'Success',
  'Success'),
 ('07-08-2018',
  '05:18:00',
  'F9 B5 B1046.2',
  'CCAFS SLC-40',
  'Merah Putih ',
  '5800',
  'GTO',
  'Telkom Indonesia',
  'Success',
  'Success'),
 ('10-09-2018',
  '04:45:00',
  'F9 B5B1049.1',
  'CCAFS SLC-40',
  'Telstar 18V / Apstar-5C',
  '7060',
  'GTO',
  'Telesat',
  'Success',
  'Success'),
 ('08-10-2018',
  '02:22:00',
  'F9 B5 B1048.2',
  'VAFB SLC-4E',
  'SAOCOM 1A',
  '3000',
  'SSO',
  'CONAE',
  'Success',
  'Success'),
 ('15-11-2018',
  '20:46:00',
  'F9 B5 B1047.2',
  'KSC LC-39A',
  'Es hail 2',
  '5300',
  'GTO',
  'Es hailSat',
  'Success',
  'Success'),
 ('03-12-2018',
  '18:34:05',
  'F9 B5 B1046.3',
  'VAFB SLC-4E',
  'SSO-A ',
  '4000',
  'SSO',
  'Spaceflight Industries',
  'Success',
  'Success'),
 ('05-12-2018',
  '18:16:00',
  'F9 B5B1050',
  'CCAFS SLC-40',
  'SpaceX CRS-16',
  '2500',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Failure'),
 ('23-12-2018',
  '13:51:00',
  'F9 B5B1054',
  'CCAFS SLC-40',
  'GPS III-01 ',
  '4400',
  'MEO',
  'USAF',
  'Success ',
  'No attempt'),
 ('11-01-2019',
  '15:31:00',
  'F9 B5 B1049.2',
  'VAFB SLC-4E',
  'Iridium NEXT-8',
  '9600',
  'Polar LEO',
  'Iridium Communications',
  'Success',
  'Success'),
 ('22-02-2019',
  '01:45:00',
  'F9 B5 B1048.3',
  'CCAFS SLC-40',
  'Nusantara Satu, Beresheet Moon lander, S5',
  '4850',
  'GTO',
  'PSN, SpaceIL / IAI',
  'Success',
  'Success'),
 ('02-03-2019',
  '07:49:00',
  'F9 B5B1051.1',
  'KSC LC-39A',
  'Crew Dragon Demo-1, SpaceX CRS-17 ',
  '12055',
  'LEO (ISS)',
  'NASA (CCD) ',
  'Success',
  'Success'),
 ('04-05-2019',
  '06:48:00',
  'F9 B5B1056.1 ',
  'CCAFS SLC-40',
  'SpaceX CRS-17, Starlink v0.9',
  '2495',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success'),
 ('24-05-2019',
  '02:30:00',
  'F9 B5 B1049.3',
  'CCAFS SLC-40',
  'Starlink v0.9, RADARSAT Constellation',
  '13620',
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('12-06-2019',
  '14:17:00',
  'F9 B5 B1051.2 ',
  'VAFB SLC-4E',
  'RADARSAT Constellation, SpaceX CRS-18 ',
  '4200',
  'SSO',
  'Canadian Space Agency (CSA)',
  'Success',
  'Success'),
 ('25-07-2019',
  '22:01:00',
  'F9 B5 B1056.2 ',
  'CCAFS SLC-40',
  'SpaceX CRS-18, AMOS-17 ',
  '2268',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success'),
 ('06-08-2019',
  '23:23:00',
  'F9 B5 B1047.3 ',
  'CCAFS SLC-40',
  'AMOS-17, Starlink 1 v1.0 ',
  '6500',
  'GTO',
  'Spacecom',
  'Success',
  'No attempt '),
 ('11-11-2019',
  '14:56:00',
  'F9 B5 B1048.4',
  'CCAFS SLC-40',
  'Starlink 1 v1.0, SpaceX CRS-19 ',
  '15600',
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('05-12-2019',
  '17:29:00',
  'F9 B5B1059.1',
  'CCAFS SLC-40',
  'SpaceX CRS-19, JCSat-18 / Kacific 1 ',
  '2617',
  'LEO (ISS)',
  'NASA (CRS), Kacific 1',
  'Success',
  'Success'),
 ('17-12-2019',
  '00:10:00',
  'F9 B5 B1056.3 ',
  'CCAFS SLC-40',
  'JCSat-18 / Kacific 1, Starlink 2 v1.0 ',
  '6956',
  'GTO',
  'Sky Perfect JSAT, Kacific 1',
  'Success',
  'Success'),
 ('07-01-2020',
  '02:33:00',
  'F9 B5 B1049.4',
  'CCAFS SLC-40',
  'Starlink 2 v1.0, Crew Dragon in-flight abort test ',
  '15600',
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('19-01-2020',
  '15:30:00',
  'F9 B5 B1046.4',
  'KSC LC-39A',
  'Crew Dragon in-flight abort test, Starlink 3 v1.0 ',
  '12050',
  'Sub-orbital',
  'NASA (CTS)',
  'Success',
  'No attempt'),
 ('29-01-2020',
  '14:07:00',
  'F9 B5 B1051.3',
  'CCAFS SLC-40',
  'Starlink 3 v1.0, Starlink 4 v1.0 ',
  '15600',
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('17-02-2020',
  '15:05:00',
  'F9 B5 B1056.4',
  'CCAFS SLC-40',
  'Starlink 4 v1.0, SpaceX CRS-20',
  '15600',
  'LEO',
  'SpaceX',
  'Success',
  'Failure'),
 ('07-03-2020',
  '04:50:00',
  'F9 B5 B1059.2',
  'CCAFS SLC-40',
  'SpaceX CRS-20, Starlink 5 v1.0 ',
  '1977',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success'),
 ('18-03-2020',
  '12:16:00',
  'F9 B5 B1048.5',
  'KSC LC-39A',
  'Starlink 5 v1.0, Starlink 6 v1.0 ',
  '15600',
  'LEO',
  'SpaceX',
  'Success',
  'Failure'),
 ('22-04-2020',
  '19:30:00',
  'F9 B5 B1051.4',
  'KSC LC-39A',
  'Starlink 6 v1.0, Crew Dragon Demo-2 ',
  '15600',
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('30-05-2020',
  '19:22:00',
  'F9 B5B1058.1 ',
  'KSC LC-39A',
  'Crew Dragon Demo-2, Starlink 7 v1.0 ',
  '12530',
  'LEO (ISS)',
  'NASA (CCDev)',
  'Success',
  'Success'),
 ('04-06-2020',
  '01:25:00',
  'F9 B5 B1049.5',
  'CCAFS SLC-40',
  'Starlink 7 v1.0, Starlink 8 v1.0',
  '15600',
  'LEO',
  'SpaceX, Planet Labs',
  'Success',
  'Success'),
 ('13-06-2020',
  '09:21:00',
  'F9 B5 B1059.3',
  'CCAFS SLC-40',
  'Starlink 8 v1.0, SkySats-16, -17, -18, GPS III-03 ',
  '15410',
  'LEO',
  'SpaceX, Planet Labs',
  'Success',
  'Success'),
 ('30-06-2020',
  '20:10:46',
  'F9 B5B1060.1',
  'CCAFS SLC-40',
  'GPS III-03, ANASIS-II',
  '4311',
  'MEO',
  'U.S. Space Force',
  'Success',
  'Success'),
 ('20-07-2020',
  '21:30:00',
  'F9 B5 B1058.2 ',
  'CCAFS SLC-40',
  'ANASIS-II, Starlink 9 v1.0',
  '5500',
  'GTO',
  'Republic of Korea Army, Spaceflight Industries (BlackSky)',
  'Success',
  'Success'),
 ('07-08-2020',
  '05:12:00',
  'F9 B5 B1051.5',
  'KSC LC-39A',
  'Starlink 9 v1.0, SXRS-1, Starlink 10 v1.0 ',
  '14932',
  'LEO',
  'SpaceX, Spaceflight Industries (BlackSky), Planet Labs',
  'Success',
  'Success'),
 ('18-08-2020',
  '14:31:00',
  'F9 B5 B1049.6',
  'CCAFS SLC-40',
  'Starlink 10 v1.0, SkySat-19, -20, -21, SAOCOM 1B ',
  '15440',
  'LEO',
  'SpaceX, Planet Labs, PlanetIQ',
  'Success',
  'Success'),
 ('30-08-2020',
  '23:18:00',
  'F9 B5 B1059.4',
  'CCAFS SLC-40',
  'SAOCOM 1B, GNOMES 1, Tyvak-0172',
  '3130',
  'SSO',
  'CONAE, PlanetIQ, SpaceX',
  'Success',
  'Success'),
 ('03-09-2020',
  '12:46:14',
  'F9 B5 B1060.2 ',
  'KSC LC-39A',
  'Starlink 11 v1.0, Starlink 12 v1.0 ',
  '15600',
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('06-10-2020',
  '11:29:34',
  'F9 B5 B1058.3 ',
  'KSC LC-39A',
  'Starlink 12 v1.0, Starlink 13 v1.0 ',
  '15600',
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('18-10-2020',
  '12:25:57',
  'F9 B5 B1051.6',
  'KSC LC-39A',
  'Starlink 13 v1.0, Starlink 14 v1.0 ',
  '15600',
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('24-10-2020',
  '15:31:34',
  'F9 B5 B1060.3',
  'CCAFS SLC-40',
  'Starlink 14 v1.0, GPS III-04  ',
  '15600',
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('05-11-2020',
  '23:24:23',
  'F9 B5B1062.1',
  'CCAFS SLC-40',
  'GPS III-04 , Crew-1',
  '4311',
  'MEO',
  'USSF',
  'Success',
  'Success'),
 ('16-11-2020',
  '00:27:00',
  'F9 B5B1061.1 ',
  'KSC LC-39A',
  'Crew-1, Sentinel-6 Michael Freilich ',
  '12500',
  'LEO (ISS)',
  'NASA (CCP)',
  'Success',
  'Success'),
 ('21-11-2020',
  '17:17:08',
  'F9 B5B1063.1',
  'VAFB SLC-4E',
  'Sentinel-6 Michael Freilich, Starlink 15 v1.0 ',
  '1192',
  'LEO',
  'NASA / NOAA / ESA / EUMETSAT',
  'Success',
  'Success'),
 ('25-11-2020',
  '02:13:00',
  'F9 B5 B1049.7 ',
  'CCAFS SLC-40',
  'Starlink 15 v1.0, SpaceX CRS-21',
  '15600',
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('06-12-2020',
  '16:17:08',
  'F9 B5 B1058.4 ',
  'KSC LC-39A',
  'SpaceX CRS-21',
  '2972',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success')]

In [12]:
cur = conn.execute("Select distinct LaunchSite from spacex")
cur.fetchall()

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [13]:
cur = conn.execute("SELECT * FROM spacex WHERE LaunchSite LIKE 'CCA%' limit 5")
cur.fetchall()

[('04-06-2010',
  '18:45:00',
  'F9 v1.0  B0003',
  'CCAFS LC-40',
  'Dragon Spacecraft Qualification Unit',
  '0',
  'LEO',
  'SpaceX',
  'Success',
  'Failure (parachute)'),
 ('08-12-2010',
  '15:43:00',
  'F9 v1.0  B0004',
  'CCAFS LC-40',
  'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese',
  '0',
  'LEO (ISS)',
  'NASA (COTS) NRO',
  'Success',
  'Failure (parachute)'),
 ('22-05-2012',
  '07:44:00',
  'F9 v1.0  B0005',
  'CCAFS LC-40',
  'Dragon demo flight C2',
  '525',
  'LEO (ISS)',
  'NASA (COTS)',
  'Success',
  'No attempt'),
 ('08-10-2012',
  '00:35:00',
  'F9 v1.0  B0006',
  'CCAFS LC-40',
  'SpaceX CRS-1',
  '500',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'No attempt'),
 ('01-03-2013',
  '15:10:00',
  'F9 v1.0  B0007',
  'CCAFS LC-40',
  'SpaceX CRS-2',
  '677',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'No attempt')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [14]:
cur = conn.execute("select sum(PyloadMassKg) FROM spacex where Customer = 'NASA (CRS)'")
cur.fetchall()

[(45596,)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [15]:
cur = conn.execute("select avg(PyloadMasskg) from spacex where BoosterVersion = 'F9 v1.1'")
cur.fetchall()
#select avg(PAYLOAD_MASS__KG_) where Booster_Version

[(2928.4,)]

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [22]:
cur = conn.execute("select min(Date) from spacex where LandingOutcome LIKE '%Success%'")
cur.fetchall()
#select min(Date) where Landing _Outcome =

[('01-05-2017',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [32]:
cur = conn.execute("select BoosterVersion, PyloadMasskg from spacex where LandingOutcome ='Success (drone ship)' and PyloadMasskg between 4000 and 6000 ")
cur.fetchall()

[]

### Task 7

##### List the total number of successful and failure mission outcomes

In [37]:
cur = conn.execute("select MissionOutcome, count(MissionOutcome) as count from spacex group by MissionOutcome  ")
cur.fetchall()

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [68]:
cur = conn.execute(" select BoosterVersion, PyloadMasskg from spacex where PyloadMasskg = (select MAX(PyloadMasskg) from spacex)")
cur.fetchall()

[('F9 FT B1029.1', '9600'),
 ('F9 FT B1036.1', '9600'),
 ('F9 B4 B1041.1', '9600'),
 ('F9 FT  B1036.2', '9600'),
 ('F9 B4  B1041.2', '9600'),
 ('F9 B5B1048.1', '9600'),
 ('F9 B5 B1049.2', '9600')]

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [45]:
cur = conn.execute("SELECT substr(Date, 4, 2) as Month, LandingOutcome, BoosterVersion,LaunchSite  FROM spacex where LandingOutcome = 'Failure (drone ship)' AND substr(Date,7,4)='2015'")
cur.fetchall()

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [63]:
cur = conn.execute("select LandingOutcome,count(LandingOutcome) from spacex where LandingOutcome LIKE '%success%' AND Date between '04-06-2010' and '20-03-2017' group by LandingOutcome order by count(LandingOutcome) DESC ")
cur.fetchall()

[('Success', 20), ('Success (drone ship)', 8), ('Success (ground pad)', 6)]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>